mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

agm-map {
  height: 400px;
}

.autocomplete-container {
  padding: 1rem 0 1rem 0;
}

