<div class="home">
  <ul>
    <li>
      <a class="tile"  routerLink="/my-profile">
        <i class="material-icons">account_circle</i>
        <h3>My Profile</h3>
      </a>
    </li>
    <li>
      <a class="tile"  routerLink="/create-survey">
        <i class="material-icons">assignment</i>
        <h3>Create Survey</h3>
      </a>
    </li>
    <li>
      <a class="tile"  routerLink="/create-poll">
        <i class="material-icons">assessment</i>
        <h3>Create Poll</h3>
      </a>
    </li>
  </ul>
</div>
