<mat-card>
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="signUpForm">
      <p>
        <mat-form-field>
          <span><div *ngIf="submitted && f.firstName.errors" class="alert-error">First Name is Required</div></span>
          <input formControlName="firstName" placeholder="First Name" matInput class="text-input" type="text" required />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <span><div *ngIf="submitted && f.lastName.errors" class="alert-error">Last Name is Required</div></span>
          <input formControlName="lastName" placeholder="Last Name" class="text-input" matInput type="text" required />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <span><div *ngIf="submitted && f.email.errors" class="alert-error">Invalid Email</div></span>
          <input formControlName="email" placeholder="Email" class="text-input" matInput email required />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <span><div *ngIf="submitted && f.phone.errors" class="alert-error">Invalid Number</div></span>
          <input formControlName="phone" placeholder="Phone Number" class="text-input" matInput type="text" required />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <span><div *ngIf="submitted && f.password.errors" class="alert-error">Invalid Password</div></span>
          <input formControlName="password" placeholder="Password" class="text-input" matInput type="password" required />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <span><div *ngIf="submitted && f.confirmPassword.errors" class="alert-error">Passwords Must Match</div></span>
          <input formControlName="confirmPassword" placeholder="Confirm Password" class="text-input" matInput type="password"  required />
        </mat-form-field>
      </p>
      <div class="button">
        <button type="submit" mat-raised-button class="mat-primary">Register</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
